/* ---------- Global Theme ---------- */
:root {
  --primary-color: maroon;
  --secondary-color: black;
  --text-color: #fff;
  --background-light: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-light);
  color: var(--text-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}
